.about{
min-width:1300px;
}
.home-logo{
width:20%;
height:70px;
float:left;
color:black;
padding-top:10px;
font-size:40px;
}
.home-sign{
float:right;
height:30px;
padding:10px;
color:black;
font-size:20px;
margin:20px;
}

.home-nav{
float:left;
height:30px;
padding:10px;
color:black;
font-size:30px;
}
ul{
list-style:none;
padding:0;
margin:0;
}
ul li{
position:relative;
float:left;
margin-top:10px;
}
.home-nav ul li a{
color:black;
display:block;
text-decoration:none;
font-size:18px;
text-align:center;
padding:10px 25px 10px 25px;
font-family:century gothic;
font-weight:bold;
}
.home-nav a:hover{
color:white;
background:black;
opacity:.9;
}
ul li ul{
background:white;
opacity:.9;
}
ul li ul li{
background:white;
float:none;
}
ul li ul{
display:none;
}
ul li:hover ul{
display:block;
}

.rule{
width:100%;background-color:black;opacity:.8;height:70px;float:left;
min-width:1300px;
}
.page{
float:left;width:100%;
min-width:1350px;
}

.intro{
float:left;width:1013px;
}

div a{
color:black;
vertical-align:center;
padding-top:32px;
text-decoration:none;
font-size:20px;
font-family:times new roman;
}
div a:hover{
opacity:.4;
transition:.3s;
}
.first{vertical-align:center;
padding-top:20px;
height:50px;
width:300px;
background-color:grey;
}
.second{
vertical-align:center;
padding-top:20px;
height:50px;
width:300px;
background-color:white;
}
.third{vertical-align:center;
padding-top:20px;
padding-left:20px;
height:50px;
width:100%;
background-color:grey;
}
.third B{color:black;
vertical-align:center;
padding-top:32px;
text-decoration:none;
font-size:28px;
font-family:times new roman;
}
.forth{vertical-align:center;
padding-top:20px;
padding-left:20px;
height:50px;
width:100%;
background-color:none;
}
p{
font-size:25px;
}
.card{
float:left;
width:1100px;
height:400px;
margin:100px;
}
.card1{
float:left;
width:540px;
height:395px;
border-right:10px solid black;
border-bottom:20px solid black;
}
.card2{
float:left;
width:540px;
height:395px;
border-left:10px solid black;
border-top:20px solid black;
}
img{
width:500px;
height:370px;
margin:20px;
}
.heading{
height:70px;
}
.card .heading a{
vertical-align:center;
color:black;
text-decoration:none;
font-size:37px;
font-family:century gothic;
font-weight:bold;
margin-left:80px;
margin-top:60px;
}
.card .heading a:hover{
opacity:.5;
transition:.5s;
}
.tour-list{
float:left;
width:1100px;
height:100px;
margin-top:100px;
margin-right:100px;
margin-left:100px;
}
.tour{
width:218px;
height:100px;
float:left;
text-align:center;
vertical-align:center;
border-left:1px solid grey;
border-right:1px solid grey;
}
.tour .heading a{
vertical-align:center;
color:black;
text-decoration:none;
font-size:15px;
font-family:century gothic;
}
.tour .heading a:hover{
opacity:.5;
transition:.5s;
}
.description{
font-size:20px;
margin:15px;
}
.dash-head{
vertical-align:center;
padding-top:20px;
height:50px;
width:100%;
background-color:black;
opacity:.8;
}




@media screen and (max-width:1024px){



.rule{
width:100%;background-color:black;opacity:.8;height:70px;float:left;
min-width:1000px;
}
.page{
float:left;width:100%;
min-width:1000px;
}


.about{
min-width:1000px;
}
.home-logo{
width:20%;
height:70px;
float:left;
color:black;
padding-top:20px;
font-size:30px;
}
.home-sign{
float:right;
height:30px;
padding:20px;
color:black;
font-size:15px;
margin:10px;
}

.home-nav{
float:left;
height:30px;
padding:10px;
color:black;
font-size:20px;
}
ul{
list-style:none;
padding:0;
margin:0;
}
ul li{
position:relative;
float:left;
}
.home-nav ul li a{
color:black;
display:block;
text-decoration:none;
font-size:16px;
text-align:center;
padding:10px 17px 10px 17px;
font-family:century gothic;
font-weight:bold;
}
.home-nav a:hover{
color:white;
background:black;
opacity:.9;
}
ul li ul{
background:white;
opacity:.9;
}
ul li ul li{
background:white;
float:none;
}
ul li ul{
display:none;
}
ul li:hover ul{
display:block;
}
div a{
color:black;
vertical-align:center;
padding-top:24px;
text-decoration:none;
font-size:15px;
font-family:times new roman;
}
div a:hover{
opacity:.4;
transition:.3s;
}
.first{vertical-align:center;
padding-top:20px;
height:40px;
width:100%;
background-color:grey;
}
.second{
vertical-align:center;
padding-top:20px;
height:40px;
width:100%;
background-color:white;
}
.third{
vertical-align:center;
padding-top:20px;
padding-left:10px;
height:40px;
width:100%;
background-color:grey;
}
.third B{color:black;
vertical-align:center;
padding-top:24px;
text-decoration:none;
font-size:23px;
font-family:times new roman;
}
.forth{vertical-align:center;
padding-top:15px;
padding-left:20px;
height:40px;
width:100%;
background-color:none;
}
p{
font-size:18px;
}
.card{
float:left;
width:880px;
height:330px;
margin:60px;
}
.card1{
float:left;
width:430px;
height:325px;
border-right:5px solid black;
border-bottom:10px solid black;
}
.card2{
float:left;
width:430px;
height:325px;
border-left:5px solid black;
border-top:10px solid black;
}
img{
width:400px;
height:300px;
margin:20px;
}
.heading{
height:50px;
}
.card .heading a{
vertical-align:center;
color:black;
text-decoration:none;
font-size:30px;
font-family:century gothic;
font-weight:bold;
margin-left:50px;
margin-top:50px;
}
.card .heading a:hover{
opacity:.5;
transition:.5s;
}
.tour-list{
float:left;
width:880px;
height:100px;
margin-top:60px;
margin-right:60px;
margin-left:60px;
}
.tour{
width:170px;
height:100px;
float:left;
text-align:center;
vertical-align:center;
border-left:1px solid grey;
border-right:1px solid grey;
}
.tour .heading a{
vertical-align:center;
color:black;
text-decoration:none;
font-size:12px;
font-family:century gothic;
}
.tour .heading a:hover{
opacity:.5;
transition:.5s;
}
.description{
font-size:16px;
margin:15px;
}
.dash-head{
vertical-align:center;
padding-top:20px;
height:40px;
width:100%;
background-color:black;
opacity:.8;
}
.intro{
float:left;width:70%;
}

}